<!DOCTYPE html>
<html>
  <head>
    <title>Blaster2D</title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <main>
      <div id="links">
        <% if(loggedIn){ %>
        <a href="/skins" style="font-size:50px">Skins</a>
        <% } else { %>
        <a href="/login">Login</a><br><br>
        <a href="/signup">Sign Up</a><br><br>
        <a href="/skins">Skins</a>
        <% } %>
      </div>
      <% if(loggedIn){ %>
      <div id="userActions">
        <h2 id="username"><%= username %></h2>
        <div id="hidden">
          <a href="/logout">Logout</a>
        </div>
      </div>
      <% } %>
      <h1>Join Game</h1>
      <label>Choose server: </label>
      <select id="server">
        <option value="https://blaster2d.ruiwenge2.repl.co">Server 1</option>
        <option value="https://blaster2d.herokuapp.com">Server 2</option>
      </select><br><br>
      <label>Enter name:</label><br><br>
      <% if(loggedIn){ %>
      <input id="input" value="<%- username %>" maxlength="15" disabled style="cursor:no-drop">
      <% } else { %>
      <input id="input" maxlength="15">
      <% } %>
      <p style="color:red; display:none">Please enter a name.</p><br><br>
      <!--<div id="recaptcha" class="g-recaptcha"
        data-sitekey="6Lcv-r4gAAAAAI1Ak_qlSlpZvTC5xzasno8nIuSJ"
        data-callback="onSubmit"
        data-size="invisible"></div>-->
      <button id="playbtn" class="button">Play</button><br><br>
      <button id="createbtn" class="button">Create Private Game</button>
      <button id="joinbtn" class="button">Join Private Game</button>
    </main>
    <script src="https://modal.ruiwenge2.repl.co/min.js"></script>
    <script>
      const homepage = true;
      const loggedIn = <%- loggedIn %>;

      function onSubmit(){
        
      }
    </script>
    <script src="/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>
    <script src="/socket.io/socket.io.min.js"></script>
    <script src="/game.js" type="module"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Lcm-s0gAAAAAEeQqYid3ppPGWgZuGKxXHKLyO77" async defer></script>
  </body>
</html>