<!DOCTYPE html>
<html>
  <head>
    <title>Blaster2D</title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <main>
      <div id="links">
        <% if(loggedIn){ %>
        <a href="/skins" style="font-size:50px">Skins</a>
        <% } else { %>
        <a href="/login">Login</a><br><br>
        <a href="/signup">Sign Up</a><br><br>
        <a href="/skins">Skins</a>
        <% } %>
      </div>
      <% if(loggedIn){ %>
      <div id="userActions">
        <h2 id="username"><%= username %></h2>
        <div id="hidden">
          <a href="/logout">Logout</a>
        </div>
      </div>
      <% } %>
      <h1>Join Game</h1>
      <label>Enter name:</label><br><br>
      <% if(loggedIn){ %>
      <input id="input" value="<%- username %>" maxlength="20" disabled style="cursor:no-drop">
      <% } else { %>
      <input id="input" maxlength="20">
      <% } %>
      <p style="color:red; display:none">Please enter a name.</p><br><br>
      <button id="playbtn">Play</button><br><br>
      <button id="createbtn">Create Private Game</button>
      <button id="joinbtn">Join Private Game</button>
    </main>
    <script src="https://modal.ruiwenge2.repl.co/min.js"></script>
    <script>
      const skins = <%- skins %>;
      const homepage = true;
      const loggedIn = <%- loggedIn %>;
    </script>
    <script src="/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/game.js" type="module"></script>
  </body>
</html>