<!DOCTYPE html>
<html>
  <head>
    <title>Blaster2D</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <main>
      <div id="links">
        <% if(loggedIn){ %>
        <a href="/skins" style="font-size:50px">Skins</a>
        <% } else { %>
        <a href="/login">Login</a><br><br>
        <a href="/signup">Sign Up</a><br><br>
        <a href="/skins">Skins</a>
        <% } %>
      </div>
      <% if(loggedIn){ %>
      <div id="userActions">
        <h2 id="username"><%= username %></h2>
        <div id="hidden">
          <a href="/logout">Logout</a>
        </div>
      </div>
      <% } %>
      <h1 class="h1">Join Game</h1>
      <label>Choose server: </label>
      <select id="server">
        <option value="auto" id="autoserver">Auto</option>
        <option value="https://blaster2d.ruiwenge2.repl.co" id="server1">Server 1</option>
        <option value="https://blaster2d.herokuapp.com" id="server2">Server 2</option>
      </select><br><br>
      <label>Choose a gun: </label>
      <select id="gun">
        <option value="pistol">Pistol</option>
        <option value="sniper">Sniper</option>
        <option value="machineGun">Machine Gun</option>
      </select><br><br>
      <label>Enter name:</label><br><br>
      <% if(loggedIn){ %>
      <input id="input" value="<%- username %>" maxlength="15" disabled style="cursor:no-drop">
      <% } else { %>
      <input id="input" maxlength="15">
      <% } %>
      <p style="color:red; display:none">Please enter a name.</p><br><br>
      <button id="playbtn" class="button">Play</button><br><br>
      <button id="createbtn" class="button">Create Private Game</button>
      <button id="joinbtn" class="button">Join Private Game</button>
      <br><br>
      <button id="howtoplay" class="button">How To play</button>
    </main>
    <div id="chatbox">
      <div id="messages"></div>
      <input id="chat-input" placeholder="Click here or press ENTER to chat" maxlength="100">
    </div>
    <script src="https://modal.ruiwenge2.repl.co/min.js"></script>
    <script>
      const homepage = true;
      const loggedIn = <%- loggedIn %>;

      <% if(loggedIn){ %>
      const name = "<%- username %>";
      <% } %>
        
      <% if(room){ %>
      const autojoin = "<%- room %>";
      <% } else { %>
      const autojoin = false;
      <% } %>
    </script>
    <script src="/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>
    <script src="/socket.io/socket.io.min.js"></script>
    <script src="/game.js" type="module"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Lcm-s0gAAAAAEeQqYid3ppPGWgZuGKxXHKLyO77" async defer></script>
  </body>
</html>