<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up - Blaster2D</title>
    <link href="/style.css" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <main>
      <div id="links">
        <a href="/">Home</a>
      </div>
      <h1 class="h1">Sign Up</h1>
      <form action="" method="post">
        <h3>Username: </h3><input name="newusername"  maxlength="15" required><br><br>
        <h3>Password: </h3><input type="password" name="newpassword" required><br><br>
        <div class="g-recaptcha" data-sitekey="6LepbjQhAAAAAEvr3vqLio0_yzEBBmqR0fXtVLqS" style="text-align:center; display:inline-block;""></div><br><br>
        <input type="submit" value="Sign Up">
      </form>
      <% if(error){ %>
      <div class="error-message"><%= error %></div>
      <% } %>
      <p>Or <a href="/login">login</a</p>
    </main>
    <script src="https://modal.ruiwenge2.repl.co/min.js"></script>
    <script src="/script.js"></script>
  </body>
</html>