<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link href="/style.css" rel="stylesheet">
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
  </head>
  <body>
    <main>
      <h1>Sign Up</h1>
      <form action="" method="post">
        <h3>Username: </h3><input name="newusername" required><br><br>
        <h3>Password: </h3><input type="password" name="newpassword" required><br><br>
        <div class="h-captcha" data-sitekey="25dfafd2-fa9b-4c0a-9a14-8648e3c4cc42" data-theme="dark"></div>
        <input type="submit">
      </form>
    </main>
  </body>
</html>