body {
  margin:0;
  overflow:hidden;
  font-family:Arial;
  text-align:center;
  background:black;
  color:white;
}

main {
  width:100vw;
  height:100vh;
  overflow:auto;
}

h1 {
  font-size:50px;
}

label {
  font-size:20px;
}

input {
  height:25px;
  font-size:20px;
}

button {
  min-width:150px;
  height:60px;
  margin:10px;
  background:white;
  color:blue;
  border:2px solid blue;
  border-radius:10px;
  cursor:pointer;
  user-select:none;
  transition:all 0.3s ease-in-out;
  font-size:20px;
}
button:hover {
  background:blue;
  color:white;
}

.modal-content {
  color:black;
}

a, a:visited {
  color:white;
}
a:hover, a:active {
  text-decoration:none;
}

#links a {
  font-size:30px;
}

#links {
  position: absolute;
  top:20px;
  right:20px;
}

.error-message {
  margin-top:20px;
  font-size:20px;
  color:red;
  text-align:center;
}

input[type="submit"] {
  min-width:150px;
  height:60px;
  margin:10px;
  background:white;
  color:blue;
  border:2px solid blue;
  border-radius:10px;
  cursor:pointer;
  user-select:none;
  transition:all 0.3s ease-in-out;
  font-size:20px;
}

input[type="submit"]:hover {
  background:blue;
  color:white;
}

p {
  font-size:18px;
}

#username {
  color:blue;
  text-decoration:underline;
  font-size:30px;
  margin:5px;
}

#userActions {
  position: absolute;
  top:20px;
  left:20px;
}

#hidden {
  background:white;
  display:none;
  height:60px;
  border-radius:7.5px;
}

#hidden a {
  color:black;
  font-size:18px;
}